<template>
  <div class="component">
    <h3>You may view the User Details here</h3>
    <p>Many Details</p>
    <p>Name in child: {{ name }}</p>
    <p>Age: {{ age }}</p>
    <button @click="resetName">Reset Name</button>
    <button @click="resetFunction()">Reset via callback</button>
  </div>
</template>

<script>
import { eventBus } from '@/main';

export default {
  props: {
    userName: {
      type: String,
      required: true
    },
    resetFn: Function,
    userAge: Number
  },
  data: function() {
    return {
      name: '',
      age: 0
    };
  },
  methods: {
    resetName() {
      this.name = 'Max';
      this.$emit('nameReset', this.name);
    },
    resetFunction() {
      this.name = 'Max';
      this.resetFn();
    }
  },
  created() {
    this.name = this.userName;
    this.age = this.userAge;
    // register listeners on the event bus
    eventBus.$on('ageWasEdited', age => {
      this.age = age;
    });
    eventBus.$on('nameWasEdited', name => {
      this.name = name;
    });
  }
};
</script>

<style scoped>
div.component {
  background-color: lightcoral;
}
</style>
