<template>
  <div class="component">
    <h3>You may edit the User here</h3>
    <p>Edit me!</p>
    <p>Age: {{ age }}</p>
    <button @click="editAge">Edit Age</button>
  </div>
</template>

<script>
import { eventBus } from '@/main';

export default {
  props: ['userAge'],
  data: function() {
    return {
      age: 0
    };
  },
  methods: {
    editAge() {
      this.age = 30;
      // this.$emit('ageWasEdited', this.age);
      // alternative to above utilize an event bus as defined in main.js
      eventBus.changeAge(this.age);
    }
  },
  created() {
    this.age = this.userAge;
  }
};
</script>

<style scoped>
div.component {
  background-color: lightgreen;
}
</style>

