<template>
  <div class="component">
    <h1>The User Component</h1>
    <p>I'm an awesome User!</p>
    <button @click="changeName">Change my name</button>
    <p>Name in parent: {{ name }}</p>
    <p>Age in parent: {{ age }}</p>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <user-detail
          :userName="name"
          @nameReset="name = $event"
          :resetFn="resetName"
          :userAge="age"
        ></user-detail>
      </div>
      <div class="col-xs-12 col-sm-6">
        <user-edit :userAge="age" @ageWasEdited="age = $event"></user-edit>
      </div>
    </div>
  </div>
</template>

<script>
import UserDetail from '@/components/users/UserDetail.vue';
import UserEdit from '@/components/users/UserEdit.vue';
import { eventBus } from '@/main';

export default {
  data: function() {
    return {
      name: 'Max',
      age: 27
    };
  },
  methods: {
    changeName() {
      this.name = 'Anna';
      eventBus.changeName(this.name);
    },
    resetName() {
      this.name = 'Max';
    }
  },
  components: {
    userDetail: UserDetail,
    'user-edit': UserEdit
  },
  created() {
    // register a listener on the event bus
    eventBus.$on('ageWasEdited', age => {
      this.age = age;
    });
  }
};
</script>

<style scoped>
div {
  background-color: beige;
}
</style>
