<template>
  <div>
    <h1>Control Structure Services</h1>
    <ul>
      <li :key="person.id" v-for="person in allPersons">
        <div>
          <b>Person: {{ person.name }}, Age: {{ person.age }}</b>
        </div>
        <div
          :key="value"
          v-for="(value, key, idx) in person"
        >Key: {{ key }}, Value: {{ value }}, Idx:{{ idx }}</div>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'ControlStructuresServices',
  methods: mapActions(['findAllPersons']),
  created() {
    this.findAllPersons();
  },
  computed: mapGetters(['allPersons'])
};
</script>

<style scoped>
</style>
