<template>
  <div>
    <h1>Control Structures</h1>
    <button @click="show = !show">Switch Visibility</button>
    <p v-if="show">You can see me!</p>
    <p v-else>Now you see me</p>
    <!-- use template tag to hide stuff without diff -->
    <template v-if="show">
      <h1>Heading</h1>
      <p>Paragrapgh</p>
    </template>
    <hr>
    <ul>
      <li :key="person.id" v-for="person in persons">
        <div>
          <b>Person: {{ person.name }}, Age: {{ person.age }}</b>
        </div>
        <div
          :key="value"
          v-for="(value, key, idx) in person"
        >Key: {{ key }}, Value: {{ value }}, Idx:{{ idx }}</div>
      </li>
    </ul>
    <hr>
    <!-- alternative way -->
    <template v-for="(ingredient, idx) in ingredients">
      <p :key="ingredient">{{ ingredient }} {{ idx }}</p>
    </template>
    <hr>
    <span :key="n" v-for="n in 10">{{ n }}</span>
    <hr>
    <p>Two way data binding</p>
    <input type="text" v-model="name">
    <p>{{ name }}</p>
  </div>
</template>

<script>
export default {
  name: 'ControlStructures',
  data: function() {
    return {
      show: true,
      ingredients: ['meat', 'fruit', 'cookies'],
      persons: [
        { id: 1, name: 'Max', age: 27, color: 'red' },
        { id: 2, name: 'Anna', age: 'unknown', color: 'blue' }
      ],
      name: 'Peter'
    };
  }
};
</script>

<style scoped>
</style>
