<template>
  <div>
    <div>
      <button @click="increase()">Increase</button>
      <button @click="decrease()">Decrease</button>
      <p>Counter: {{ counter }}</p>
      <p>Result: {{ methodResult() }} || {{ computedResult }}</p>
    </div>
    <div>
      <button @click="increaseTwo">Increase Two</button>
      <p>Counter Two: {{ counterTwo }}</p>
      <p>Result: {{ watchedResult }}</p>
    </div>
  </div>
</template>
<script>
export default {
  data: function() {
    return {
      counter: 0,
      counterTwo: 0,
      watchedResult: ''
    };
  },
  methods: {
    increase() {
      this.counter++;
    },
    decrease() {
      this.counter--;
    },
    methodResult() {
      // eslint-disable-next-line
      console.log('methodResult called');
      return this.counter > 5 ? 'Greater than 5' : 'Smaller than 5';
    },
    increaseTwo() {
      this.counterTwo++;
    }
  },
  computed: {
    computedResult() {
      // eslint-disable-next-line
      console.log('computedResult called');
      return this.counter > 5 ? 'Greater than 5' : 'Smaller than 5';
    }
  },
  watch: {
    counterTwo(value) {
      // eslint-disable-next-line
      console.log('watch called');
      let r = value > 5 ? 'Watch thinks value is greater than 5' : 'Watch thinks value is less than 5';
      this.watchedResult = r;
    }
  }
};
</script>
