<template>
  <div>
    <h1 class="purple">Hello {{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
};
</script>

<style scoped>
.purple {
  color: purple;
}
</style>

