<template>
  <div>
    <HelloWorld msg="Fouche"/>
    <!-- <ControlStructures/> -->
    <!-- <ControlStructuresServices/> -->
    <!-- <DomInteraction/> -->
    <!-- <ComponentComms/> -->
  </div>
</template>

<script>
import HelloWorld from '@/components/HelloWorld.vue';
// import ControlStructures from '@/components/ControlStructures.vue';
// import ControlStructuresServices from '@/components/ControlStructuresServices.vue';
// import DomInteraction from '@/components/DomInterAction.vue';
// import ComponentComms from '@/components/ComponentComms.vue';

export default {
  name: 'App',
  components: {
    HelloWorld
    // ControlStructures
    // ControlStructuresServices
    // DomInteraction
    // ComponentComms
  }
};
</script>
